<div class="container">
  <div class="row">
    <app-list-grades></app-list-grades>
  </div>
  <br><br>
  <div class="row">
    <div class="col lg 1"></div>
    <!--    <div class="col-lg-5">-->
    <!--      <app-theme-average-chart></app-theme-average-chart>-->
    <!--    </div>-->
    <!--    <div class="col-lg-5">-->
    <!--      <app-theme-average-chart></app-theme-average-chart>-->
    <!--    </div>-->
    <div class="col-lg-10">
      <app-theme-average-chart></app-theme-average-chart>
    </div>
    <div class="col lg 1"></div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-lg-12">
      <app-list-goals-advanced></app-list-goals-advanced>
    </div>
  </div>
</div>
