<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
      <label for="grade">
        Grade
      </label>
      <input class="form-control" id="grade" type="number" min="1" max="6" step="0.1" pattern="\d\.\d"
             formControlName="grade">
    </div>

    <div>
      <label for="theme">
        Theme
      </label>
      <input class="form-control" id="theme" type="text" formControlName="theme">
    </div>

    <br>
    <button class="button" type="submit">Add Grade</button>
  </form>
</div>
