<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>Your Goals</h2>
      <br>

      <table class="table">
        <thead>
        <th scope="col">Theme</th>
        <th scope="col">Goal</th>
        <th scope="col">Average</th>
        <th scope="col">Success</th>
        </thead>
        <tbody>
        <tr *ngFor="let goal of goals" (click)="getNextGrade($event)">
          <td>{{goal.theme}}</td>
          <td>{{goal.gradeGoal}}</td>
          <td>{{getAverage(goal.theme).value}}</td>
          <td *ngIf="isGoalReached(goal)">✔</td>
          <td *ngIf="!isGoalReached(goal)">❌</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <br><br>
      <ul class="list-group">
        <li class="list-group-item" *ngIf="nextNeeded">Next Grade: {{nextNeeded}}</li>
      </ul>
    </div>
  </div>
</div>

