<!--<ngx-charts-pie-chart-->
<!--  [results]="data"-->
<!--  [legend]="true"-->
<!--  [legendTitle]="'Product Sale Report'"-->
<!--  [view]="[1000,300]"-->
<!--  [labels]="true">-->
<!--</ngx-charts-pie-chart>-->

<div class="row">
  <div class="col-lg-10">
    <ngx-charts-bar-vertical
      [results]="data"
      [legend]="true"
      [legendTitle]="'Theme Averages'"
      [view]="[700,300]"
      [xAxisLabel]="'Theme'"
      [yAxisLabel]="'Average'"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [gradient]="true"
      (select)="onChartClick($event)">
    </ngx-charts-bar-vertical>
  </div>
  <div class="col-lg-2">
    <ul class="list-group">
      <div *ngFor="let grade of grades">
        <li class="list-group-item" *ngIf="grade.theme == theme">{{grade.grade}}</li>
      </div>
    </ul>
  </div>
</div>
