<!--<ngx-charts-pie-chart-->
<!--  [results]="data"-->
<!--  [legend]="true"-->
<!--  [legendTitle]="'Product Sale Report'"-->
<!--  [view]="[1000,300]"-->
<!--  [labels]="true">-->
<!--</ngx-charts-pie-chart>-->

<ngx-charts-bar-vertical
  [results]="data"
  [legend]="true"
  [legendTitle]="'Theme Averages'"
  [view]="[500,300]"
  [xAxisLabel]="'Theme'"
  [yAxisLabel]="'Average'"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  [gradient]="true">>
</ngx-charts-bar-vertical>
